<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testScenarios.Rediff"/>
      <class name="testScenarios.DynDataHandling"/>
      <class name="testScenarios.HandlingAlerts"/>
      <class name="testScenarios.Vindeep"/>
      <class name="testScenarios.SwitchingWind"/>
      <class name="testScenarios.MouseActions"/>
      <class name="testScenarios.MultipleListBox"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
